@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,500,700,900");
@import url("https://use.fontawesome.com/releases/v6.1.2/css/all.css");

body {
  background-color: #F7F9FC;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  line-height: 24px;
}

h1,h2,h3 {
  font-family: 'Roboto', sans-serif;
  color: #279EFF;
  font-size: 24px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #33BBC5;
}

a:hover {
  color: #614BC3;
}

.card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.card {
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, .1);
  width: 600px;
  padding: 40px;
  border-radius: 4px;
  margin: 20px auto;
  text-align: center;
}

.container {
  width: 750px;
  margin: 0 auto;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline>li {
  display: inline-block;
  padding: 0px 20px;
}

.fa-brands {
  font-size: 50px;
}

.btn-blue {
  background-color: #279EFF;
  color: white;
  border-radius: 4px;
  padding: 16px 24px;
  border: 1px solid transparent;
}

.btn-blue:hover {
  border: 1px solid #279EFF;
  background-color: white;
  color: #279EFF;
}

.card p {
  padding-bottom: 16px;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
  .card{
    width: 500px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
  .card{
    width: 400px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
  .card{
    width: 200px;
  }
  .btn-blue{
    font-size: 12px;
  }
  .card p{
    text-align: justify;
  }
}
